openapi: 3.1.1
info:
  description: "# Overview \n\n Information and statistics about FIRST Robotics Competition\
    \ teams and events. \n\n# Authentication \n\nAll endpoints require an Auth Key\
    \ to be passed in the header `X-TBA-Auth-Key`. If you do not have an auth key\
    \ yet, you can obtain one from your [Account Page](/account)."
  title: The Blue Alliance API v3
  version: 3.12.0
  x-version-info: "Versions of the API follow the format X.Y.Z, with X being a major\
    \ version, Y denoting the minor version, and Z the point release. Changes to the\
    \ spec or API that result in a major version change will significantly impact\
    \ implementations. Changes to the minor version indicate paths and/or fields in\
    \ existing models may be added, and any breaking changes will be confined to paths\
    \ or models listed as in-development in the prior minor version. Changes to the\
    \ point release indicate no format or structure changes to the paths or models,\
    \ but updated or clarified documentation. Note that changes to paths and models\
    \ refer to the actual result from the API, not the documentation."
  x-changes: "3.12.0: Add 2026 score breakdowns. 3.11.0: Deprecate Event.lat, Event.lng,\
    \ Event.gmaps_place_id, Event.gmaps_url. Event models will no longer be geocoded.\
    \ Moving forward, these fields will return null. Eventually these fields will\
    \ be removed. Event.address will now return FRC-API address, and Event.location_name\
    \ will return FRC-API venue. 3.10.1: Add remap_teams to event. 3.10.0: Upgrade\
    \ to Openapi v3.1.1. 3.9.16: Marked Event.timezone as nullable, renamed District_List\
    \ to District. 3.9.15: Add onshape to media type. 3.9.14: Adds max_team_page to\
    \ Status. 3.9.13: Fixes missing 2023 endgame enum. 3.9.12: Updates 2025 match\
    \ breakdown penalties to be correct for 2025. 3.9.11: Adds tba_botRowCount, tba_midRowCount,\
    \ and tba_topRowCount to 2025 match breakdown autoReef and teleopReef. 3.9.10:\
    \ Add 2025 score breakdowns. 3.9.9: Fix nullable fields within Team_Event_Status.\
    \ 3.9.8: Add district awards endpoint. Add nullable to district rankings. 3.9.7:\
    \ Add district history endpoint. 3.9.6: Added History endpoint; added NotablesInsight\
    \ endpoint. 3.9.5: Properly documented that event.district may be null. 3.9.4:\
    \ Properly documented that a Status may be null (future events). 3.9.3: Proper\
    \ nullable event rankings/oprs/coprs 3.9.2: Add event/key/team_media endpoint;\
    \ add team_keys to media objects. 3.9.1: Mark WLT_Record as nullable. 3.8.2-3.9.0:\
    \ Fixed undefined vs nullable fields. Adds 2024 score breakdown. Links score breakdown\
    \ types to score_breakdown field. Adds leaderboard insights endpoint and type.\
    \ 3.8.1-3.8.2: Replace `If-Modified-Since` with `If-None-Match` and `Last-Modified`\
    \ with `ETag`. 3.8.0-3.8.1: Added Webcast date field. 3.7.0-3.8.0: Added 2020\
    \ Match Breakdown. 3.6.0-3.7.0: Added Zebra MotionWorks endpoints and models.\
    \ 3.5.2-3.6.0: Added `school_name` to the Team model. 3.5.1-3.5.2: Removed `key`\
    \ from the Media object, set `foreign_key` as a required property. 3.5-3.5.1:\
    \ Fixed api clients crashing when requesting simple matches resulting in ties.\
    \ 3.04.1 - 3.5: Updated the spec to follow OpenAPI standards. 3.04.0 - 3.04.1:\
    \ Team motto will now return null. 3.03.1 - 3.04.0: Add direct_url and view_url\
    \ to the Media model. 3.03.0 - 3.03.1: Fix model of /team/{team_key}/robots to\
    \ match API, add min and max for year and add min for page_num. 3.02.1 - 3.03.0:\
    \ Added Timeseries models and endpoints. 3.02.0 - 3.02.1: Fixed the model for\
    \ `/team/{team_key}/districts` to match return from API. 3.1.0 - 3.02.0: Added\
    \ `tba_gameData` to score breakdown and a leading zero to the minor version number\
    \ to allow for easier sorting later. 3.0.5 - 3.1.0: Version bump for 2018 added\
    \ fields and endpoints. Models Updated: `Team_Event_Status`, `Media`, 2018 Score\
    \ Breakdowns. Endpoints Added: `/team/{team_key}/events/{year}/statuses`, `/event/{event_key}/teams/statuses`\
    \ 3.0.4 - 3.0.5: Minor spelling fixes. Remove 2016 fields from `Match_Score_Breakdown_2017_Alliance`\
    \ model. Fix `first_event_id` in `Event` model to correct type. Update `Media`.`type`\
    \ enum. --- 3.0.3 - 3.0.4: Correct syntax in `Team_Event_Status_playoff` object,\
    \ include descriptions in `Event_District_Points` and fix the path in `Team_Event_Status_playoff.properties.record`\
    \ in order to more closely match Swagger spec. Fix syntax of `Match.video` to\
    \ be correct and accurately reflect what is returned by the API. --- 3.0.2 - 3.0.3:\
    \ `extra_stats` and `extra_stats_info` added to `Event_Ranking` model. Corrected\
    \ match video property claiming to use the `Media` model, which it doesn't. Added\
    \ `first_event_code` to the `Event` model. Added `/team/{team_key}/media/tag/{media_tag}`\
    \ and year endpoints. Added `dq_team_keys` to `Match_alliance` model.  --- 3.0.1\
    \ - 3.0.2: `Team_Event_Status` and `Event_Ranking` model documentation changed\
    \ to reflect actual API return. Changes involved W-L-T and ranking properties.\
    \ --- 3.0.0 - 3.0.1: Descriptions updated to clarify some terms and improve grammar.\
    \ The `district` property on the `Event` object now points to the `District_List`\
    \ model, which was identical. `Required` fields on fully documented models now\
    \ represent fields that may not be `null`. `District_Ranking` model documented."
servers:
- url: https://www.thebluealliance.com/api/v3
tags:
- description: Calls that expose TBA internals or status.
  name: TBA
- description: "Calls that return district, or district-related information."
  name: district
- description: "Calls that return event, or event-specific information."
  name: event
- description: "Calls that return insights, or insight-related information."
  name: insight
- description: "Calls that return match, or match-specific information."
  name: match
- description: "Calls that return information about regional teams advancing to CMP,\
    \ starting in 2025"
  name: regional_advancement
- description: Calls that return team or team-specific information.
  name: team
paths:
  /district/{district_abbreviation}/dcmp_history:
    get:
      description: Gets a list of DCMP events and awards for the given district abbreviation.
      operationId: getDistrictDCMPHistory
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_abbreviation"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/getDistrictDCMPHistory_200_response_inner"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
  /district/{district_abbreviation}/history:
    get:
      description: "Gets a list of District objects with the given district abbreviation.\
        \ This accounts for district abbreviation changes, such as MAR to FMA."
      operationId: getDistrictHistory
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_abbreviation"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/District"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
  /district/{district_abbreviation}/insights:
    get:
      description: Gets insights for a given district.
      operationId: getDistrictInsights
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_abbreviation"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/District_Insight"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
  /district/{district_key}/advancement:
    get:
      description: Gets a list of advancement information per team in a district.
      operationId: getDistrictAdvancement
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/District_Advancement"
                description: A mapping of team key to District_Advancement
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - team
  /district/{district_key}/awards:
    get:
      description: Gets a list of awards in the given district.
      operationId: getDistrictAwards
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - event
  /district/{district_key}/events:
    get:
      description: Gets a list of events in the given district.
      operationId: getDistrictEvents
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - event
  /district/{district_key}/events/keys:
    get:
      description: Gets a list of event keys for events in the given district.
      operationId: getDistrictEventsKeys
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - event
  /district/{district_key}/events/simple:
    get:
      description: Gets a short-form list of events in the given district.
      operationId: getDistrictEventsSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - description: "TBA District Key, eg `2016fim`"
        explode: false
        in: path
        name: district_key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - event
  /district/{district_key}/rankings:
    get:
      description: Gets a list of team district rankings for the given district.
      operationId: getDistrictRankings
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/District_Ranking"
                nullable: true
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - team
  /district/{district_key}/teams:
    get:
      description: Gets a list of `Team` objects that competed in events in the given
        district.
      operationId: getDistrictTeams
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - team
  /district/{district_key}/teams/keys:
    get:
      description: Gets a list of `Team` objects that competed in events in the given
        district.
      operationId: getDistrictTeamsKeys
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Team Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - team
  /district/{district_key}/teams/simple:
    get:
      description: Gets a short-form list of `Team` objects that competed in events
        in the given district.
      operationId: getDistrictTeamsSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/district_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
      - team
  /districts/{year}:
    get:
      description: "Gets a list of districts and their corresponding district key,\
        \ for the given year."
      operationId: getDistrictsByYear
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/District"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - district
  /event/{event_key}:
    get:
      description: Gets an Event.
      operationId: getEvent
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/advancement_points:
    get:
      description: "Depending on the type of event (district/regional), this will\
        \ return either district points or regional CMP points"
      operationId: getEventAdvancementPoints
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Event_District_Points"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/alliances:
    get:
      description: Gets a list of Elimination Alliances for the given Event.
      operationId: getEventAlliances
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Elimination_Alliance"
                nullable: true
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/awards:
    get:
      description: Gets a list of awards from the given event.
      operationId: getEventAwards
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/coprs:
    get:
      description: Gets a set of Event Component OPRs for the given Event.
      operationId: getEventCOPRs
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Event_COPRs"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/district_points:
    get:
      description: "Gets a list of district points for the Event. These are always\
        \ calculated, regardless of event type, and may/may not be actually useful."
      operationId: getEventDistrictPoints
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Event_District_Points"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - district
  /event/{event_key}/insights:
    get:
      description: Gets a set of Event-specific insights for the given Event.
      operationId: getEventInsights
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Event_Insights"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/matches:
    get:
      description: Gets a list of matches for the given event.
      operationId: getEventMatches
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - match
  /event/{event_key}/matches/keys:
    get:
      description: Gets a list of match keys for the given event.
      operationId: getEventMatchesKeys
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Match Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - match
  /event/{event_key}/matches/simple:
    get:
      description: Gets a short-form list of matches for the given event.
      operationId: getEventMatchesSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - match
  /event/{event_key}/matches/timeseries:
    get:
      description: |-
        Gets an array of Match Keys for the given event key that have timeseries data. Returns an empty array if no matches have timeseries data.
        *WARNING:* This is *not* official data, and is subject to a significant possibility of error, or missing data. Do not rely on this data for any purpose. In fact, pretend we made it up.
        *WARNING:* This endpoint and corresponding data models are under *active development* and may change at any time, including in breaking ways.
      operationId: getEventMatchTimeseries
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  description: Match Key
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - match
  /event/{event_key}/oprs:
    get:
      description: "Gets a set of Event OPRs (including OPR, DPR, and CCWM) for the\
        \ given Event."
      operationId: getEventOPRs
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Event_OPRs"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/predictions:
    get:
      description: Gets information on TBA-generated predictions for the given Event.
        Contains year-specific information. *WARNING* This endpoint is currently under
        development and may change at any time.
      operationId: getEventPredictions
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Event_Predictions"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/rankings:
    get:
      description: Gets a list of team rankings for the Event.
      operationId: getEventRankings
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Event_Ranking"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/regional_champs_pool_points:
    get:
      description: "For 2025+ Regional events, this will return points towards the\
        \ Championship qualification pool."
      operationId: getRegionalChampsPoolPoints
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Event_District_Points"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/simple:
    get:
      description: Gets a short-form Event.
      operationId: getEventSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event_Simple"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/team_media:
    get:
      description: Gets a list of media objects that correspond to teams at this event.
      operationId: getEventTeamMedia
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Media"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /event/{event_key}/teams:
    get:
      description: Gets a list of `Team` objects that competed in the given event.
      operationId: getEventTeams
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - team
  /event/{event_key}/teams/keys:
    get:
      description: Gets a list of `Team` keys that competed in the given event.
      operationId: getEventTeamsKeys
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Team Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - team
  /event/{event_key}/teams/simple:
    get:
      description: Gets a short-form list of `Team` objects that competed in the given
        event.
      operationId: getEventTeamsSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - team
  /event/{event_key}/teams/statuses:
    get:
      description: Gets a key-value list of the event statuses for teams competing
        at the given event.
      operationId: getEventTeamsStatuses
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/getEventTeamsStatuses_200_response_value"
                description: A key-value pair of `Team_Event_Status` objects with
                  the event key as the key.
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
      - team
  /events/{year}:
    get:
      description: Gets a list of events in the given year.
      operationId: getEventsByYear
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /events/{year}/keys:
    get:
      description: Gets a list of event keys in the given year.
      operationId: getEventsByYearKeys
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /events/{year}/simple:
    get:
      description: Gets a short-form list of events in the given year.
      operationId: getEventsByYearSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - event
  /insights/leaderboards/{year}:
    get:
      description: Gets a list of `LeaderboardInsight` objects from a specific year.
        Use year=0 for overall.
      operationId: getInsightsLeaderboardsYear
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/LeaderboardInsight"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - insight
  /insights/notables/{year}:
    get:
      description: Gets a list of `NotablesInsight` objects from a specific year.
        Use year=0 for overall.
      operationId: getInsightsNotablesYear
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/NotablesInsight"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - insight
  /match/{match_key}:
    get:
      description: Gets a `Match` object for the given match key.
      operationId: getMatch
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/match_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Match"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - match
  /match/{match_key}/simple:
    get:
      description: Gets a short-form `Match` object for the given match key.
      operationId: getMatchSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/match_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Match_Simple"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - match
  /match/{match_key}/timeseries:
    get:
      description: |-
        Gets an array of game-specific Match Timeseries objects for the given match key or an empty array if not available.
        *WARNING:* This is *not* official data, and is subject to a significant possibility of error, or missing data. Do not rely on this data for any purpose. In fact, pretend we made it up.
        *WARNING:* This endpoint and corresponding data models are under *active development* and may change at any time, including in breaking ways.
      operationId: getMatchTimeseries
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/match_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - match
  /match/{match_key}/zebra_motionworks:
    get:
      description: Gets Zebra MotionWorks data for a Match for the given match key.
      operationId: getMatchZebra
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/match_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zebra"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - match
  /regional_advancement/{year}:
    get:
      description: Gets information about per-team advancement to the FIRST Championship.
      operationId: getRegionalAdvancement
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/Regional_Advancement"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - regional_advancement
  /regional_advancement/{year}/rankings:
    get:
      description: Gets the team rankings in the regional pool for a specific year.
      operationId: getRegionalRankings
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Regional_Ranking"
                nullable: true
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - regional_advancement
  /search_index:
    get:
      description: Gets a large blob of data that is used on the frontend for searching.
        May change without notice.
      operationId: getSearchIndex
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchIndex"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags: []
  /status:
    get:
      description: "Returns API status, and TBA status information."
      operationId: getStatus
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/API_Status"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - TBA
  /team/{team_key}:
    get:
      description: Gets a `Team` object for the team referenced by the given key.
      operationId: getTeam
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
  /team/{team_key}/awards:
    get:
      description: Gets a list of awards the given team has won.
      operationId: getTeamAwards
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
  /team/{team_key}/awards/{year}:
    get:
      description: Gets a list of awards the given team has won in a given year.
      operationId: getTeamAwardsByYear
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
  /team/{team_key}/districts:
    get:
      description: Gets an array of districts representing each year the team was
        in a district. Will return an empty array if the team was never in a district.
      operationId: getTeamDistricts
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/District"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - district
  /team/{team_key}/event/{event_key}/awards:
    get:
      description: Gets a list of awards the given team won at the given event.
      operationId: getTeamEventAwards
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Award"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - event
  /team/{team_key}/event/{event_key}/matches:
    get:
      description: Gets a list of matches for the given team and event.
      operationId: getTeamEventMatches
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - event
      - match
  /team/{team_key}/event/{event_key}/matches/keys:
    get:
      description: Gets a list of match keys for matches for the given team and event.
      operationId: getTeamEventMatchesKeys
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Match Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - event
      - match
  /team/{team_key}/event/{event_key}/matches/simple:
    get:
      description: Gets a short-form list of matches for the given team and event.
      operationId: getTeamEventMatchesSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Match"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - event
      - match
  /team/{team_key}/event/{event_key}/status:
    get:
      description: Gets the competition rank and status of the team at the given event.
      operationId: getTeamEventStatus
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      - $ref: "#/components/parameters/event_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Team_Event_Status"
                nullable: true
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - event
  /team/{team_key}/events:
    get:
      description: Gets a list of all events this team has competed at.
      operationId: getTeamEvents
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - event
  /team/{team_key}/events/keys:
    get:
      description: Gets a list of the event keys for all events this team has competed
        at.
      operationId: getTeamEventsKeys
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of Event Keys
                items:
                  type: string
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - event
  /team/{team_key}/events/simple:
    get:
      description: Gets a short-form list of all events this team has competed at.
      operationId: getTeamEventsSimple
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event_Simple"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
              explode: false
              schema:
                type: string
              style: simple
            ETag:
              description: Specifies the version of the most recent response. Used
                by clients in the `If-None-Match` request header.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          $ref: "#/components/responses/NotModified"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
      - apiKey: []
      tags:
      - team
      - event
  /team/{team_key}/events/{year}:
    get:
      description: Gets a list of events this team has competed at in the given year.
      operationId: getTeamEventsByYear
      parameters:
      - $ref: "#/components/parameters/If-None-Match"
      - $ref: "#/components/parameters/team_key"
      - $ref: "#/components/parameters/year"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Event"
                type: array
          description: Successful response
          headers:
            Cache-Control:
              description: "The `Cache-Control` header, in particular the `max-age`\
                \ value, contains the number of seconds the result should be considered\
                \ valid for. During this time subsequent calls should return from\
                \ the local cache directly."
[...]
