{
  "openapi": "3.0.3",
  "info": {
    "title": "Statbotics REST API",
    "description": "The REST API for Statbotics. Please be nice to their servers. This version is normalized for Azure Foundry OpenAPI tool ingestion.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.statbotics.io",
      "description": "Statbotics production API"
    }
  ],
  "paths": {
    "/v3/": {
      "get": {
        "tags": [
          "Default"
        ],
        "summary": "Read Root",
        "description": "Returns the API root payload for version 3.",
        "operationId": "get_root",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          }
        }
      }
    },
    "/v3/year/{year}": {
      "get": {
        "tags": [
          "Year"
        ],
        "summary": "Query a single year",
        "description": "Returns a single Year object. Requires a four-digit year, for example 2019.",
        "operationId": "get_year",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Four-digit year.",
            "schema": {
              "type": "integer",
              "minimum": 2002,
              "maximum": 2026
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/years": {
      "get": {
        "tags": [
          "Year"
        ],
        "summary": "Query multiple years",
        "operationId": "list_years",
        "parameters": [
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "How to sort the returned values. Any column in the table is valid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "Whether to sort the returned values in ascending order. Default is ascending.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return. Default is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset from the first result to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of years since 2002.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectArray"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/team/{team}": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Query a single team",
        "description": "Returns a single Team object. Requires a team number with no prefix.",
        "operationId": "get_team",
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team number with no prefix.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99999
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/teams": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Query multiple teams",
        "description": "Returns up to 1000 teams at a time. Specify limit and offset to page through results.",
        "operationId": "list_teams",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Capitalized country name, for example USA or Canada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Capitalized two-letter state code, for example NC.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "District code.",
            "schema": {
              "type": "string",
              "enum": [
                "ca",
                "fch",
                "fim",
                "fin",
                "fit",
                "fma",
                "fnc",
                "fsc",
                "isr",
                "ne",
                "ont",
                "pch",
                "pnw",
                "win"
              ]
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "Whether the team has played in the last year.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "How to sort the returned values. Any column in the table is valid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "Whether to sort the returned values in ascending order. Default is ascending.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return. Default is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset from the first result to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectArray"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/team_year/{team}/{year}": {
      "get": {
        "tags": [
          "TeamYear"
        ],
        "summary": "Query a single team year",
        "description": "Returns a single Team Year object. Requires a team number and year.",
        "operationId": "get_team_year",
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team number with no prefix.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99999
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Four-digit year.",
            "schema": {
              "type": "integer",
              "minimum": 2002,
              "maximum": 2026
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/team_years": {
      "get": {
        "tags": [
          "TeamYear"
        ],
        "summary": "Query multiple team years",
        "description": "Returns up to 1000 team years at a time. Specify limit and offset to page through results.",
        "operationId": "list_team_years",
        "parameters": [
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Team number with no prefix, for example 5511.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99999
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Four-digit year.",
            "schema": {
              "type": "integer",
              "minimum": 2002,
              "maximum": 2026
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Capitalized country name, for example USA or Canada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Capitalized two-letter state code, for example NC.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "District code.",
            "schema": {
              "type": "string",
              "enum": [
                "ca",
                "fch",
                "fim",
                "fin",
                "fit",
                "fma",
                "fnc",
                "fsc",
                "isr",
                "ne",
                "ont",
                "pch",
                "pnw",
                "win"
              ]
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "How to sort the returned values. Any column in the table is valid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "Whether to sort the returned values in ascending order. Default is ascending.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return. Default is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset from the first result to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectArray"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/event/{event}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Query a single event",
        "description": "Returns a single Event object. Requires an event key, for example 2019ncwak.",
        "operationId": "get_event",
        "parameters": [
          {
            "name": "event",
            "in": "path",
            "required": true,
            "description": "Event key, for example 2019ncwak.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/events": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Query multiple events",
        "description": "Returns up to 1000 events at a time. Specify limit and offset to page through results.",
        "operationId": "list_events",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Four-digit year.",
            "schema": {
              "type": "integer",
              "minimum": 2002,
              "maximum": 2026
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Capitalized country name, for example USA or Canada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Capitalized two-letter state code, for example NC.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "District code.",
            "schema": {
              "type": "string",
              "enum": [
                "ca",
                "fch",
                "fim",
                "fin",
                "fit",
                "fma",
                "fnc",
                "fsc",
                "isr",
                "ne",
                "ont",
                "pch",
                "pnw",
                "win"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Competition type.",
            "schema": {
              "type": "string",
              "enum": [
                "regional",
                "district",
                "district_cmp",
                "champs_div",
                "einstein",
                "offseason"
              ]
            }
          },
          {
            "name": "week",
            "in": "query",
            "required": false,
            "description": "Week of the competition season. 8 is CMP.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 8
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "How to sort the returned values. Any column in the table is valid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "Whether to sort the returned values in ascending order. Default is ascending.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return. Default is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset from the first result to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectArray"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/team_event/{team}/{event}": {
      "get": {
        "tags": [
          "TeamEvent"
        ],
        "summary": "Query a single team event",
        "description": "Returns a single Team Event object. Requires a team number and event key.",
        "operationId": "get_team_event",
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team number with no prefix.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99999
            }
          },
          {
            "name": "event",
            "in": "path",
            "required": true,
            "description": "Event key, for example 2019ncwak.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/team_events": {
      "get": {
        "tags": [
          "TeamEvent"
        ],
        "summary": "Query multiple team events",
        "description": "Returns up to 1000 team events at a time. Specify limit and offset to page through results.",
        "operationId": "list_team_events",
        "parameters": [
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Team number with no prefix, for example 5511.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99999
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Four-digit year.",
            "schema": {
              "type": "integer",
              "minimum": 2002,
              "maximum": 2026
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "description": "Event key, for example 2019ncwak.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Capitalized country name, for example USA or Canada.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Capitalized two-letter state code, for example NC.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "District code.",
            "schema": {
              "type": "string",
              "enum": [
                "ca",
                "fch",
                "fim",
                "fin",
                "fit",
                "fma",
                "fnc",
                "fsc",
                "isr",
                "ne",
                "ont",
                "pch",
                "pnw",
                "win"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Competition type.",
            "schema": {
              "type": "string",
              "enum": [
                "regional",
                "district",
                "district_cmp",
                "champs_div",
                "einstein",
                "offseason"
              ]
            }
          },
          {
            "name": "week",
            "in": "query",
            "required": false,
            "description": "Week of the competition season. 8 is CMP.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 8
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "How to sort the returned values. Any column in the table is valid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "Whether to sort the returned values in ascending order. Default is ascending.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return. Default is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset from the first result to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectArray"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/match/{match}": {
      "get": {
        "tags": [
          "Match"
        ],
        "summary": "Query a single match",
        "description": "Returns a single Match object. Requires a match key, for example 2019ncwak_f1m1.",
        "operationId": "get_match",
        "parameters": [
          {
            "name": "match",
            "in": "path",
            "required": true,
            "description": "Match key, for example 2019ncwak_f1m1.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/matches": {
      "get": {
        "tags": [
          "Match"
        ],
        "summary": "Query multiple matches",
        "description": "Returns up to 1000 matches at a time. Specify limit and offset to page through results.",
        "operationId": "list_matches",
        "parameters": [
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Team number with no prefix, for example 5511.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99999
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Four-digit year.",
            "schema": {
              "type": "integer",
              "minimum": 2002,
              "maximum": 2026
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "description": "Event key, for example 2019ncwak.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "week",
            "in": "query",
            "required": false,
            "description": "Week of the competition season. 8 is CMP.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 8
            }
          },
          {
            "name": "elim",
            "in": "query",
            "required": false,
            "description": "Whether the match is an elimination match.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "How to sort the returned values. Any column in the table is valid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "Whether to sort the returned values in ascending order. Default is ascending.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return. Default is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset from the first result to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectArray"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/team_match/{team}/{match}": {
      "get": {
        "tags": [
          "TeamMatch"
        ],
        "summary": "Query a single team match",
        "description": "Returns a single Team Match object. Requires a team number and match key.",
        "operationId": "get_team_match",
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "description": "Team number with no prefix.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99999
            }
          },
          {
            "name": "match",
            "in": "path",
            "required": true,
            "description": "Match key, for example 2019ncwak_f1m1.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObject"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/team_matches": {
      "get": {
        "tags": [
          "TeamMatch"
        ],
        "summary": "Query multiple team matches",
        "description": "Returns up to 1000 team matches at a time. Specify limit and offset to page through results.",
        "operationId": "list_team_matches",
        "parameters": [
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Team number with no prefix, for example 5511.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99999
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Four-digit year.",
            "schema": {
              "type": "integer",
              "minimum": 2002,
              "maximum": 2026
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "description": "Event key, for example 2019ncwak.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "week",
            "in": "query",
            "required": false,
            "description": "Week of the competition season. 8 is CMP.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 8
            }
          },
          {
            "name": "match",
            "in": "query",
            "required": false,
            "description": "Match key, for example 2019ncwak_f1m1.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elim",
            "in": "query",
            "required": false,
            "description": "Whether the match is an elimination match.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "How to sort the returned values. Any column in the table is valid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "description": "Whether to sort the returned values in ascending order. Default is ascending.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return. Default is 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset from the first result to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericObjectArray"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenericObject": {
        "type": "object",
        "additionalProperties": true
      },
      "GenericObjectArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GenericObject"
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      }
    }
  }
}
